<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        [v-cloak]{display:none !important;}
        .logger-info {
            color: #666;
            font-size: 14px;
        }

        .start-frame {
            width: 512px;
            height: 768px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 300px;
            background: url(./assets/img/img_bg_logo.jpg);
        }

        .start-title {
            font-size: 48px;
            color: #333;
        }

        .start-btn {
            margin-top: 10px;
            border: none;
            padding: 10px 15px;
            font-size: 28px;
            color: #333;
            cursor: pointer;
        }

        .game-frame {
            width: 512px;
            height: 768px;
            margin: 0 auto;
            overflow: hidden;
            background: url(./assets/img/img_bg_level_3.jpg) repeat-y;
            position: relative;
            transition: all 1s;
            animation: main-frame-bg-run 8s linear infinite;
        }

        @keyframes main-frame-bg-run {
            from {
                background-position: 0 -768px;
            }
            to {
                background-position: 0 0;
            }
        }

        .game-frame.hurt {
            box-shadow: 0 0 50px 5px rgb(253, 0, 0) inset;
        }

        .game-frame.treat {
            box-shadow: 0 0 50px 5px rgb(0, 253, 42) inset;
        }

        .game-frame.skill-0 {
            filter: grayscale(70%);
        }

        .game-frame.skill-0::before {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            position: absolute;
            pointer-events: none;
            overflow: hidden;
            z-index: 9;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(./assets/img/nc.png);
            opacity: 0;
            animation: skill-0-anime-before 850ms;
        }

        @keyframes skill-0-anime-before {
            0% {
                opacity: 0;
                transform: scale(2);
            }
            60% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
            }
        }

        .game-frame.skill-1 {
            filter: contrast(200%);
        }

        .game-canvas {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .game-info {
            position: absolute;
            height: 50px;
            width: 100%;
            bottom: 0;
            left: 0;
        }


        .player-info {
            font-size: 14px;
            line-height: 24px;
            position: absolute;
            left: 0;
            height: 100%;
            width: 25%;
            color: #fff;
            padding: 6px;
        }

        .g-container {
            width: 100%;
            height: 8px;
            border-radius: 25px;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.2);
        }

        .g-progress {
            width: 50%;
            height: inherit;
            transition: width 0.3s linear;
        }

        .g-container.blood .g-progress {
            background: linear-gradient(90deg, rgb(170, 0, 0), rgb(255, 35, 35));
        }

        .game-info .logger-info {
            position: absolute;
            left: 25%;
            right: 25%;
            text-align: center;
            line-height: 30px;
            bottom: 0;
            color: #eee;
            font-size: 12px;
        }

        .skill-info {
            display: flex;
            flex-direction: row-reverse;
            font-size: 14px;
            line-height: 24px;
            position: absolute;
            right: 0;
            height: 100%;
            width: 25%;
            color: #fff;
            padding: 6px;
        }

        .skill-info-box {
            color: #fff;
            font-size: 14px;
            height: 40px;
            width: 40px;
            border-radius: 4px;
            border: 3px solid rgb(161, 110, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .skill-info-box.cooldown {
            filter: grayscale(70%);
        }

        .end-frame {
            width: 512px;
            height: 768px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url(./assets/img/img_bg_logo.jpg) repeat-y;
        }

        .end-title {
            font-size: 48px;
            color: red;
            line-height: 80px;
        }

        .end-btn {
            border: none;
            padding: 10px 15px;
            font-size: 28px;
            color: #333;
            cursor: pointer;
        }

        .introduction {
            width: 512px;
            margin: 0 auto;
            list-style: none;
        }
    </style>
    <title>飞机大战</title>
</head>
<body>
<div id="app">
    <div v-if="!gameSetting.isStart" class="start-frame">
        <h1 class="start-title">飞机大战</h1>
        <p>by FlapyPan</p>
        <p v-cloak class="logger-info">{{log}}</p>
        <button v-cloak class="start-btn" @click="startGame" v-show="gameSetting.loaded">开始游戏</button>
    </div>
    <div v-cloak v-if="gameSetting.isStart && player.blood > 0"
         :class="mainFrameClass">
        <canvas ref="playerCanvas"
                width="512"
                height="768"
                class="game-canvas"
        ></canvas>
        <canvas ref="playerBulletCanvas"
                width="512"
                height="768"
                class="game-canvas"
        ></canvas>
        <canvas ref="enemyBulletCanvas"
                width="512"
                height="768"
                class="game-canvas"
        ></canvas>
        <canvas ref="enemyCanvas"
                width="512"
                height="768"
                class="game-canvas"
        ></canvas>
        <canvas ref="mainCanvas"
                width="512"
                height="768"
                class="game-canvas"
        ></canvas>
        <div class="game-info">
            <div class="player-info">
                ♥&nbsp;{{player.blood}}/{{gameSetting.playerMaxBlood}}&nbsp;⚔&nbsp;{{gameSetting.score}}
                <div class="g-container blood">
                    <div class="g-progress"
                         :style="{width:`${player.blood/gameSetting.playerMaxBlood*100}%`}"
                    ></div>
                </div>
            </div>
            <p class="logger-info">{{log}}</p>
            <div class="skill-info">
                <div v-for="(skill,i) in gameSetting.playerSkill"
                     :class="{'skill-info-box':true,'cooldown':skill.nowCD!==0}">
                    {{playerSkillLogo(i)}}
                </div>
            </div>
        </div>
        <div class="game-canvas"
             @mousedown="onMousedown"
             @mousemove="onMousemove"
        ></div>
    </div>
    <div v-cloak v-if="gameSetting.isStart && player.blood <= 0" class="end-frame">
        <h1 class="end-title">游戏结束</h1>
        <h1 class="end-title">分数:{{gameSetting.score}}</h1>
        <button class="end-btn" onclick="location.reload()">重新开始</button>
    </div>
    <ul class="introduction">
        <li>点击“开始游戏”即可开始游玩</li>
        <li>鼠标单击画面后操控飞机，再次单击解除控制</li>
        <li>Q技能：发射几圈环形子弹清除周围的敌人（狂暴效果：增强发射速度）</li>
        <li>W技能：持续治疗一段时间（狂暴效果：提高治疗量）</li>
        <li>E技能：狂暴，提高子弹伤害和射速，开启狂暴后开启其他技能有所加强</li>
        <li>R技能，暂停时间，期间免疫伤害（狂暴效果：清除所有敌机子弹）</li>
    </ul>
</div>
<script src="https://unpkg.com/vue@3.1.5/dist/vue.global.prod.js"></script>
<script>
  /**
   * @const
   * @desc 根路径
   * @type {string}
   */
  const ROOT_PATH = window.location.href.substring(0, window.location.href.lastIndexOf('/'))
  console.info(`获取根路径: ${ROOT_PATH}`)

  // 资源列表
  const bitmapSrc = [
    '/assets/img/plane3.png',
    '/assets/img/My_zidan.png',
    '/assets/img/eplane2.gif',
    '/assets/img/ebullet1.png',
  ]
  const animeBitmapSrc = Array.from(
    {length: 9},
    (v, i) => `/assets/img/blow/${i + 1}.png`
  )
  const audioSrc = [
    '/assets/sound/bullet.mp3',
    '/assets/sound/end.mp3',
    '/assets/sound/enemy_hit.mp3',
    '/assets/sound/enemy2_down.mp3',
    '/assets/sound/enemy3_down.mp3',
    '/assets/sound/Oriental Magician.mp3',
    '/assets/sound/player_skill_2.mp3',
    '/assets/sound/player_skill_0.mp3',
    '/assets/sound/player_skill_1.mp3',
    '/assets/sound/player_treat.mp3',
    '/assets/sound/start.mp3',
    '/assets/sound/player_skill_3.mp3',
    '/assets/sound/lv_up.mp3'
  ]

  // 预加载游戏背景图
  let preloadBG = new Image()
  preloadBG.src = ROOT_PATH + '/assets/img/img_bg_level_3.jpg'

  /**
   * @class
   * @classdesc 游戏元素类
   */
  class GameObject {
    /**
     * @class
     * @classdesc 游戏元素类
     * @param {CanvasImageSource} img 图片
     * @param {number} x 横坐标
     * @param {number} y 纵坐标
     * @param {number} w 像素宽度
     * @param {number} h 像素高度
     * @param {number} blood 血量
     * @param {number} damage 伤害
     */
    constructor(img, x, y, w, h, blood, damage) {
      this.img = img
      this.x = x
      this.y = y
      this.w = w
      this.h = h
      this.blood = blood || 1
      this.damage = damage || 1
    }

    /**
     * @property 是否存活
     * @return {boolean}
     */
    get isAlive() {
      return this.blood > 0
    }

    /**
     * @function 碰撞血量计算
     * @param {GameObject} other 另一个需要碰撞的游戏元素
     */
    collide(other) {
      other.blood -= this.damage
      this.blood -= other.damage
    }
  }

  /**
   * @class
   * @extends {GameObject}
   * @classdesc 自移动游戏元素类
   */
  class MovableGameObject extends GameObject {
    /**
     * @class
     * @extends {GameObject}
     * @classdesc 自移动游戏元素类
     * @param {ImageBitmap} img 图片
     * @param {number} x 横坐标
     * @param {number} y 纵坐标
     * @param {number} w 像素宽度
     * @param {number} h 像素高度
     * @param {number} speedX 横坐标移动像素
     * @param {number} speedY 纵坐标移动像素
     * @param {number} blood 血量
     * @param {number} damage 伤害
     */
    constructor(img, x, y, w, h, speedX, speedY, blood, damage) {
      super(img, x, y, w, h, blood, damage)
      this.speedX = speedX
      this.speedY = speedY
    }

    /**
     * @function 移动元素
     * @param {number} limitX 横坐标限制
     * @param {number} limitY 纵坐标限制
     * @return {boolean} 是否移动成功
     */
    move(limitX, limitY) {
      const newX = this.x + this.speedX
      const newY = this.y + this.speedY
      if (
        newY < -this.h ||
        newX < -this.w ||
        newX > limitX + this.w ||
        newY > limitY + this.h
      ) {
        return false
      }
      this.x = newX
      this.y = newY
      return true
    }
  }

  /**
   * @class
   * @classdesc 动画对象, 用于渲染gif
   */
  class AnimeGameObject {
    /**
     * @class
     * @classdesc 动画对象, 用于渲染gif
     * @param {CanvasImageSource[]} imgs 图片数组
     * @param {number} x 横坐标
     * @param {number} y 纵坐标
     * @param {number} w 像素宽度
     * @param {number} h 像素高度
     */
    constructor(imgs, x, y, w, h) {
      this.imgs = imgs
      this.x = x
      this.y = y
      this.w = w
      this.h = h
      this.index = 0
    }

    /**
     * @property 是否画完
     * @return {boolean}
     */
    get drawOver() {
      return this.index >= this.imgs.length
    }

    /**
     * @property 获取一张图片
     * @return {CanvasImageSource}
     */
    get img() {
      return this.imgs[this.index++]
    }
  }

  const app = Vue.createApp({
    setup() {
      // 全局日志工厂
      const logger = Vue.reactive({
        info(msg) {
          console.info(msg)
          this.history.push({code: 0, msg})
        },
        err(msg) {
          console.error(msg)
          this.history.push({code: 1, msg})
        },
        history: []
      })
      const log = Vue.computed(() => {
        if (logger.history.length === 0) return ''
        const latestLog = logger.history[logger.history.length - 1]
        const title = latestLog.code === 0 ? '信息' : '错误'
        return `${title}：${latestLog.msg}`
      })
      // 全局音频上下文
      const AudioContext = window.AudioContext || window.webkitAudioContext
      const audioCtx = new AudioContext()
      const waveShaper = audioCtx.createWaveShaper()
      const gainNode = audioCtx.createGain()
      gainNode.gain.value = 0.6 // 全局音量
      waveShaper.connect(gainNode)
      gainNode.connect(audioCtx.destination)
      const audioBuffers = []

      /** 游戏设置*/
      const gameSetting = Vue.reactive({
        loaded: false,
        isStart: false,
        score: 0,
        isPause: {
          renderMainCanvas: true,
          renderPlayerCanvas: true,
          renderPlayerBulletCanvas: true,
          renderEnemyCanvas: true,
          renderEnemyBulletCanvas: true,
          calcBlow: true,
          calcPlayerBullets: true,
          calcEnemies: true,
          calcEnemyBullets: true,
          playerAutoFire: true,
          enemyAutoFire: true,
          generateEnemy: true,
        },
        playerSkill: [
          {
            duration: 3000,
            defaultCD: 30000,
            nowCD: 0,
            releasing: false,
            key: 'R',
          },
          {
            duration: 5000,
            defaultCD: 15000,
            nowCD: 0,
            releasing: false,
            key: 'E',
          },
          {
            duration: 5000,
            defaultCD: 20000,
            nowCD: 0,
            releasing: false,
            key: 'W',
          },
          {
            duration: 2000,
            defaultCD: 10000,
            nowCD: 0,
            releasing: false,
            key: 'Q',
          },
        ],
        playerFireTime: 125,
        playerMaxBlood: 25,
        playerHurt: false,
        playerTreat: false,
        playerBullet: {
          defaultW: 10,
          defaultH: 15,
          defaultSpeedX: 0,
          defaultSpeedY: -12,
        },
        enemyBlood: 8,
        enemyDamage: 1,
        enemyDefaultW: 50,
        enemyDefaultH: 60,
        enemyMaxCount: 5,
        enemyMaxSpeedX: 3,
        enemyMaxSpeedY: 3,
        enemyBullet: {
          defaultW: 12,
          defaultH: 18,
          defaultSpeedX: 0,
          defaultSpeedY: 4,
        },
      })

      /** @const 主窗口class */
      const mainFrameClass = Vue.computed(() => {
        return {
          'game-frame': true,
          hurt: gameSetting.playerHurt,
          treat: gameSetting.playerTreat,
          'skill-0': gameSetting.playerSkill[0].releasing,
          'skill-1': gameSetting.playerSkill[1].releasing,
        }
      })
      /** @const 主画布对象 */
      const mainCanvas = Vue.ref(null)
      /** @const 玩家画布对象 */
      const playerCanvas = Vue.ref(null)
      /** @const 玩家画布弹药对象 */
      const playerBulletCanvas = Vue.ref(null)
      /** @const 敌机画布对象 */
      const enemyCanvas = Vue.ref(null)
      /** @const 敌机弹药画布对象 */
      const enemyBulletCanvas = Vue.ref(null)

      /** @const 图片源(0为玩家, 1为玩家子弹, 2为敌机, 3为敌机子弹)
       * @type {ImageBitmap[]} */
      const bitmaps = []

      /** @const 爆炸图片源 @type {ImageBitmap[]} */
      const blowBitmaps = []

      /** @const 玩家对象 @type {GameObject} */
      const player = Vue.reactive(
        new GameObject(
          null,
          200,
          650,
          75,
          55,
          gameSetting.playerMaxBlood,
          2
        )
      )

      /** @const 玩家发射的子弹 @type {MovableGameObject[]} */
      const playerBullets = []

      /** @const 敌机 @type {MovableGameObject[]} */
      const enemies = []

      /** @const 敌机发射的子弹 @type {MovableGameObject[]} */
      const enemyBullets = []

      /** @const 爆炸效果 @type {AnimeGameObject[]} */
      const blows = []

      /** 监听玩家血量 */
      Vue.watch(
        () => player.blood,
        (newValue, oldValue) => {
          if (newValue <= 0) {
            Vue.nextTick(() => {
              controlAll(true)
              playAudio(1)
            })
          }
          if (newValue < oldValue) {
            if (!gameSetting.playerHurt) {
              gameSetting.playerHurt = true
              setTimeout(() => {
                gameSetting.playerHurt = false
              }, 500)
              playAudio(6)
            }
          } else if (newValue > oldValue) {
            if (!gameSetting.playerTreat) {
              gameSetting.playerTreat = true
              setTimeout(() => {
                gameSetting.playerTreat = false
              }, 500)
            }
          }
        }
      )

      /**
       * @desc 监听玩家分数，提高难度
       */
      Vue.watch(
        () => gameSetting.score,
        (newValue, oldValue) => {
          const newLv = Math.floor(newValue / 50)
          const oldLv = Math.floor(oldValue / 50)
          if (newLv > oldLv) {
            logger.info('难度提高，当前为：' + newLv)
            player.damage += 1
            gameSetting.playerMaxBlood += 2
            const newBlood = player.blood + 1
            if (gameSetting.playerMaxBlood >= newBlood) {
              player.blood = newBlood
            }
            gameSetting.enemyMaxCount += 5
            gameSetting.enemyBlood += 1
            gameSetting.enemyDamage += 1
            gameSetting.enemyMaxSpeedX += 1
            gameSetting.enemyMaxSpeedY += 1
            gameSetting.enemyBullet.defaultSpeedY += 1
            playAudio(12)
          }
        }
      )

      /**
       * @function
       * @desc 启动游戏
       */
      const startGame = () => {
        logger.info('进入游戏！点击游戏画面操控飞机！')
        gameSetting.isStart = true
        controlAll(false)
        Vue.nextTick(() => {
          // 首次渲染
          render()
        })
        playAudio(10)
        playAudio(5, true)
      }

      /**
       * @function
       * @desc 控制所有状态
       * @param {boolean} state 状态
       */
      const controlAll = (state) => {
        gameSetting.isPause.renderMainCanvas = state
        gameSetting.isPause.renderPlayerCanvas = state
        gameSetting.isPause.renderPlayerBulletCanvas = state
        gameSetting.isPause.renderEnemyCanvas = state
        gameSetting.isPause.renderEnemyBulletCanvas = state
        gameSetting.isPause.calcBlow = state
        gameSetting.isPause.calcPlayerBullets = state
        gameSetting.isPause.calcEnemies = state
        gameSetting.isPause.calcEnemyBullets = state
        gameSetting.isPause.playerAutoFire = state
        gameSetting.isPause.enemyAutoFire = state
        gameSetting.isPause.generateEnemy = state
      }

      /**@function 玩家技能冷却图标
       * @param {number} code 技能代号
       * @return {string}
       **/
      const playerSkillLogo = (code) => {
        const now = gameSetting.playerSkill[code].nowCD
        if (now === 0) return gameSetting.playerSkill[code].key
        return `${now > 1000 ? Math.ceil(now / 1000) : now / 1000}`
      }

      /**
       *  @function 加载图片
       *  @param {string[]} srcArr 图片地址数组
       *  @return {Promise<ImageBitmap[]>}
       *  */
      const loadBitmaps = async (srcArr) => {
        return Promise.all(
          srcArr.map((src) =>
            fetch(ROOT_PATH + src)
              .then((resp) => resp.blob())
              .then((blob) => createImageBitmap(blob))
          )
        )
      }

      /**
       * @function
       * @desc 加载音频
       * @param srcArr
       * @returns {Promise<Awaited<unknown>[]>}
       */
      const loadAudioBuffers = async (srcArr) => {
        return Promise.all(
          srcArr.map(src =>
            fetch(ROOT_PATH + src)
              .then(resp => resp.arrayBuffer())
              .then(arrayBuffer => audioCtx.decodeAudioData(arrayBuffer))
          )
        )
      }

      /**
       * @function
       * @desc 播放音频
       * @param {number} index 索引
       * @param {boolean} loop 是否循环
       */
      const playAudio = (index, loop = false) => {
        if (index < 0 || index >= audioBuffers.length) return
        const source = audioCtx.createBufferSource()
        source.buffer = audioBuffers[index]
        source.loop = loop
        source.onended = () => {
          source.disconnect()
        }
        if (source.buffer !== null) {
          source.connect(waveShaper)
          source.start(0)
        }
      }

      /** @function 玩家开火 */
      const playerFire = () => {
        if (gameSetting.isPause.playerAutoFire) return
        const bw = gameSetting.playerBullet.defaultW
        const bh = gameSetting.playerBullet.defaultH
        playerBullets.push(
          new MovableGameObject(
            bitmaps[1],
            player.x + player.w / 2 - bw / 2,
            player.y,
            bw,
            bh,
            0,
            gameSetting.playerBullet.defaultSpeedY,
            1,
            player.damage
          ),
          new MovableGameObject(
            bitmaps[1],
            player.x + bw,
            player.y + bh,
            bw,
            bh,
            -gameSetting.playerBullet.defaultSpeedX,
            gameSetting.playerBullet.defaultSpeedY,
            1,
            player.damage
          ),
          new MovableGameObject(
            bitmaps[1],
            player.x + player.w - bw * 2,
            player.y + bh,
            bw,
            bh,
            gameSetting.playerBullet.defaultSpeedX,
            gameSetting.playerBullet.defaultSpeedY,
            1,
            player.damage
          )
        )
        playAudio(0)
      }

      /**
       * @function 随机生成敌人
       */
      const generateEnemy = () => {
        if (gameSetting.isPause.generateEnemy) return
        // 限制敌机数量
        if (enemies.length >= gameSetting.enemyMaxCount) return
        // 随机获取生成模式,这里为3个模式
        const mode = Math.floor(Math.random() * 3)
        switch (mode) {
          case 0: //敌机从屏幕上方进入
            enemies.push(
              new MovableGameObject(
                bitmaps[2],
                Math.random() * (512 - gameSetting.enemyDefaultW),
                -gameSetting.enemyDefaultH,
                gameSetting.enemyDefaultW,
                gameSetting.enemyDefaultH,
                0,
                Math.ceil(Math.random() * gameSetting.enemyMaxSpeedY),
                gameSetting.enemyBlood,
                gameSetting.enemyDamage
              )
            )
            break
          case 1: //敌机从屏幕左侧进入
            enemies.push(
              new MovableGameObject(
                bitmaps[2],
                -gameSetting.enemyDefaultW,
                Math.random() * (100 - gameSetting.enemyDefaultH),
                gameSetting.enemyDefaultW,
                gameSetting.enemyDefaultH,
                Math.ceil(Math.random() * gameSetting.enemyMaxSpeedX),
                Math.ceil(Math.random() * gameSetting.enemyMaxSpeedY),
                gameSetting.enemyBlood,
                gameSetting.enemyDamage
              )
            )
            break
          case 2: //敌机从屏幕右侧进入
            enemies.push(
              new MovableGameObject(
                bitmaps[2],
                512 + gameSetting.enemyDefaultW,
                Math.random() * (100 - gameSetting.enemyDefaultH),
                gameSetting.enemyDefaultW,
                gameSetting.enemyDefaultH,
                -Math.ceil(Math.random() * gameSetting.enemyMaxSpeedX),
                Math.ceil(Math.random() * gameSetting.enemyMaxSpeedY),
                gameSetting.enemyBlood,
                gameSetting.enemyDamage
              )
            )
            break
        }
      }

      /** @function 敌机随机开火 */
      const enemiesFire = () => {
        if (gameSetting.isPause.enemyAutoFire) return
        for (let i = 0; i < enemies.length; i++) {
          if (Math.random() < 0.9) continue
          const e = enemies[i]
          enemyBullets.push(
            new MovableGameObject(
              bitmaps[3],
              e.x + e.w / 2 - gameSetting.enemyDefaultW / 2,
              e.y + e.h,
              gameSetting.enemyBullet.defaultW,
              gameSetting.enemyBullet.defaultH,
              gameSetting.enemyBullet.defaultSpeedX,
              e.speedY < 3
                ? gameSetting.enemyBullet.defaultSpeedY
                : e.speedY,
              1,
              e.damage
            )
          )
        }
      }

      /** @function 计算玩家子弹 */
      const calcPlayerBullets = () => {
        // 玩家子弹
        for (let i = 0; i < playerBullets.length; i++) {
          const b = playerBullets[i]
          // 判断是否超出绘画范围
          if (!b.isAlive || !b.move(512, 768)) {
            playerBullets.splice(i, 1)
            i--
          } else {
            const hitIndex = enemies.findIndex((e) => {
              if (!e.isAlive) return false
              // 获取子弹坐标中心点
              const bX = b.x + b.w / 2
              const bY = b.y + b.h / 2
              // 判断是否在敌机坐标范围
              return (
                bX > e.x &&
                bX < e.x + gameSetting.enemyDefaultW &&
                bY > e.y &&
                bY < e.y + gameSetting.enemyDefaultH
              )
            })
            if (hitIndex < 0) continue
            b.collide(enemies[hitIndex])
            blows.push(new AnimeGameObject(blowBitmaps, b.x, b.y, b.w, b.h))
          }
        }
      }

      /**
       * @function 绘制玩家
       * @param {CanvasRenderingContext2D} ctx 2d上下文
       */
      const drawPlayer = (ctx) => {
        ctx.drawImage(player.img, player.x, player.y, player.w, player.h)
      }

      /**
       * @function 绘制元素数组
       * @param {CanvasRenderingContext2D} ctx 2d上下文
       * @param {GameObject[]|AnimeGameObject[]} gameObjects 游戏元素数组
       */
      const drawGameObjects = (ctx, gameObjects) => {
        for (const obj of gameObjects) {
          ctx.drawImage(obj.img, obj.x, obj.y, obj.w, obj.h)
        }
      }

      /** @function 计算敌机子弹 */
      const calcEnemyBullets = () => {
        for (let i = 0; i < enemyBullets.length; i++) {
          const b = enemyBullets[i]
          // 判断是否超出绘画范围
          if (!b.isAlive || !b.move(512, 768)) {
            enemyBullets.splice(i, 1)
            i--
          } else {
            // 判断是否击中玩家
            // 获取子弹坐标中心点
            const bX = b.x + b.w / 2
            const bY = b.y + b.h / 2
            if (
              bX > player.x &&
              bX < player.x + player.w &&
              bY > player.y &&
              bY < player.y + player.h
            ) {
              b.collide(player)
              playAudio(2)
            }
          }
        }
      }

      /** @function 计算敌人 */
      const calcEnemies = () => {
        for (let i = 0; i < enemies.length; i++) {
          const e = enemies[i]
          if (!e.isAlive) {
            blows.push(new AnimeGameObject(blowBitmaps, e.x, e.y, e.w, e.h))
            enemies.splice(i, 1)
            // 被击落加分
            gameSetting.score += 1
            i--
            playAudio(4)
          } else if (!e.move(512, 768)) {
            enemies.splice(i, 1)
            i--
          } else {
            // 判断是否击中玩家
            // 获取敌机坐标中心点
            const eX = e.x + e.w / 2
            const eY = e.y + e.h / 2
            if (
              eX > player.x &&
              eX < player.x + player.w &&
              eY > player.y &&
              eY < player.y + player.h
            ) {
              e.collide(player)
            }
          }
        }
      }
      /** @function 计算爆炸效果 */
      const calcBlows = () => {
        for (let i = 0; i < blows.length; i++) {
          const b = blows[i]
          if (b.drawOver) {
            blows.splice(i, 1)
            i--
          }
        }
      }

      /** @function 渲染 */
      const render = () => {
        if (player.blood <= 0) return
        // 下一次渲染
        window.requestAnimationFrame(render)
        // 获取2d上下文
        /** @type {CanvasRenderingContext2D}*/
        const mainCtx = mainCanvas.value.getContext('2d')
        /** @type {CanvasRenderingContext2D}*/
        const playerBulletCtx = playerBulletCanvas.value.getContext('2d')
        /** @type {CanvasRenderingContext2D}*/
        const playerCtx = playerCanvas.value.getContext('2d')
        /** @type {CanvasRenderingContext2D}*/
        const enemyBulletCtx = enemyBulletCanvas.value.getContext('2d')
        /** @type {CanvasRenderingContext2D}*/
        const enemyCtx = enemyCanvas.value.getContext('2d')

        // 计算控制
        if (!gameSetting.isPause.calcEnemyBullets) {
          calcEnemyBullets()
        }
        if (!gameSetting.isPause.calcEnemies) {
          calcEnemies()
        }
        if (!gameSetting.isPause.calcPlayerBullets) {
          calcPlayerBullets()
        }
        if (!gameSetting.isPause.calcBlow) {
          calcBlows()
        }

        // 渲染控制
        if (!gameSetting.isPause.renderEnemyBulletCanvas) {
          enemyBulletCtx.clearRect(0, 0, 512, 768)
          drawGameObjects(enemyBulletCtx, enemyBullets)
        }
        if (!gameSetting.isPause.renderEnemyCanvas) {
          enemyCtx.clearRect(0, 0, 512, 768)
          drawGameObjects(enemyCtx, enemies)
        }
        if (!gameSetting.isPause.renderPlayerBulletCanvas) {
          playerBulletCtx.clearRect(0, 0, 512, 768)
          drawGameObjects(playerBulletCtx, playerBullets)
        }
        if (!gameSetting.isPause.renderPlayerCanvas) {
          if (gameSetting.playerSkill[0].releasing) {
            playerCtx.fillStyle = 'rgba(0,0,0,0.1)'
            playerCtx.fillRect(0, 0, 512, 768)
          } else {
            playerCtx.clearRect(0, 0, 512, 768)
          }
          drawPlayer(playerCtx)
        }
        if (!gameSetting.isPause.renderMainCanvas) {
          mainCtx.clearRect(0, 0, 512, 768)
          drawGameObjects(mainCtx, blows)
        }
      }
      //圆坐标
      const circlePoints = [
        {x: 0.0, y: 4.0},
        {x: 1.2360679774997896, y: 3.804226065180614},
        {x: 2.3511410091698925, y: 3.23606797749979},
        {x: 3.23606797749979, y: 2.3511410091698925},
        {x: 3.804226065180614, y: 1.2360679774997898},
        {x: 4.0, y: 2.4492935982947064e-16},
        {x: 3.8042260651806146, y: -1.2360679774997894},
        {x: 3.23606797749979, y: -2.351141009169892},
        {x: 2.351141009169893, y: -3.2360679774997894},
        {x: 1.23606797749979, y: -3.804226065180614},
        {x: 4.898587196589413e-16, y: -4.0},
        {x: -1.2360679774997891, y: -3.8042260651806146},
        {x: -2.351141009169892, y: -3.23606797749979},
        {x: -3.2360679774997894, y: -2.351141009169893},
        {x: -3.804226065180614, y: -1.2360679774997902},
        {x: -4.0, y: -7.347880794884119e-16},
        {x: -3.8042260651806146, y: 1.236067977499789},
        {x: -3.2360679774997902, y: 2.3511410091698917},
        {x: -2.3511410091698934, y: 3.2360679774997894},
        {x: -1.2360679774997907, y: 3.804226065180614},
        {x: -9.797174393178826e-16, y: 4.0},
      ]
      /** @function 玩家技能
       @param {number} code 技能代号*/
      const playerSkill = (code) => {
        if (
          player.blood <= 0 ||
          gameSetting.playerSkill[code].releasing || gameSetting.playerSkill[code].nowCD > 0
        ) {
          return
        }
        if (code === 0) {
          //咋瓦鲁多, 暂停时间
          gameSetting.isPause.renderEnemyCanvas = true
          gameSetting.isPause.renderMainCanvas = true
          gameSetting.isPause.calcEnemies = true
          gameSetting.isPause.calcPlayerBullets = true
          gameSetting.isPause.calcBlow = true
          gameSetting.isPause.enemyAutoFire = true
          gameSetting.isPause.generateEnemy = true
          if (gameSetting.playerSkill[1].releasing) {
            enemyBullets.splice(0, enemyBullets.length)
          } else {
            gameSetting.isPause.calcEnemyBullets = true
            gameSetting.isPause.renderEnemyBulletCanvas = true
          }
          gameSetting.playerSkill[0].releasing = true
          gameSetting.playerSkill[0].nowCD = gameSetting.playerSkill[0].defaultCD
          setTimeout(() => {
            gameSetting.isPause.renderEnemyCanvas = false
            gameSetting.isPause.renderMainCanvas = false
            gameSetting.isPause.calcEnemies = false
            gameSetting.isPause.calcPlayerBullets = false
            gameSetting.isPause.calcBlow = false
            gameSetting.isPause.enemyAutoFire = false
            gameSetting.isPause.generateEnemy = false
            gameSetting.isPause.calcEnemyBullets = false
            gameSetting.isPause.renderEnemyBulletCanvas = false
            gameSetting.playerSkill[0].releasing = false
          }, gameSetting.playerSkill[0].duration)
          playAudio(7)
        } else if (code === 1) {
          //狂暴,提升攻击力，提高子弹发射速度，子弹散射，开启狂暴后其他节能有所提升
          gameSetting.isPause.playerAutoFire = false
          const oldSpeedX = gameSetting.playerBullet.defaultSpeedX
          const oldDamage = player.damage
          const oldW = gameSetting.playerBullet.defaultW
          const oldH = gameSetting.playerBullet.defaultH
          player.damage *= 2
          gameSetting.playerBullet.defaultSpeedX += 4
          gameSetting.playerBullet.defaultW *= 1.5
          gameSetting.playerBullet.defaultH *= 1.5
          const it1 = setInterval(playerFire, 75)
          gameSetting.playerSkill[1].releasing = true
          gameSetting.playerSkill[1].nowCD = gameSetting.playerSkill[1].defaultCD
          setTimeout(() => {
            gameSetting.playerBullet.defaultSpeedX = oldSpeedX
            player.damage = oldDamage
            gameSetting.playerBullet.defaultW = oldW
            gameSetting.playerBullet.defaultH = oldH
            clearInterval(it1)
            gameSetting.playerSkill[1].releasing = false
          }, gameSetting.playerSkill[1].duration)
          playAudio(8)
        } else if (code === 2) {
          //治疗
          const time =
            gameSetting.playerSkill[1].releasing === true ? 250 : 500
          const it2 = setInterval(() => {
            if (player.blood <= 0 || player.blood >= gameSetting.playerMaxBlood) return
            player.blood += 2
          }, time)
          gameSetting.playerSkill[2].releasing = true
          gameSetting.playerSkill[2].nowCD =
            gameSetting.playerSkill[2].defaultCD
          setTimeout(() => {
            clearInterval(it2)
            gameSetting.playerSkill[2].releasing = false
          }, gameSetting.playerSkill[2].duration)
          playAudio(9)
        } else if (code === 3) {
          //圆形散射
          const bw = gameSetting.playerBullet.defaultW
          const bh = gameSetting.playerBullet.defaultH
          const time = gameSetting.playerSkill[1].releasing === true ? 125 : 250
          const it3 = setInterval(() => {
            for (let i = 0; i < circlePoints.length; i++) {
              const p = circlePoints[i]
              playerBullets.push(new MovableGameObject(
                  bitmaps[1],
                  player.x + player.w / 2 - bw / 2,
                  player.y,
                  bw,
                  bh,
                  p.x,
                  p.y,
                  1,
                  player.damage
                )
              )
            }
            playAudio(0)
          }, time)
          gameSetting.playerSkill[3].releasing = true
          gameSetting.playerSkill[3].nowCD = gameSetting.playerSkill[3].defaultCD
          setTimeout(() => {
            clearInterval(it3)
            gameSetting.playerSkill[3].releasing = false
          }, gameSetting.playerSkill[3].duration)
          playAudio(11)
        }
      }
      Vue.onMounted(async () => {
        logger.info('开始加载静态图片...')
        bitmaps.push(...(await loadBitmaps(bitmapSrc)))
        logger.info('加载静态图片成功，数量：' + bitmaps.length)
        player.img = bitmaps[0]
        logger.info('开始加载动态图片...')
        blowBitmaps.push(...(await loadBitmaps(animeBitmapSrc)))
        logger.info('加载动态图片成功，数量：1')
        logger.info('开始加载音频资源...')
        audioBuffers.push(...(await loadAudioBuffers(audioSrc)))
        logger.info('音频资源加载成功，数量：' + audioBuffers.length)
        logger.info('所有资源加载完毕！')
        gameSetting.loaded = true
        // 设置玩家自动开火
        setInterval(playerFire, gameSetting.playerFireTime)
        // 随机生成敌人
        setInterval(generateEnemy, 100)
        // 敌人随机开火
        setInterval(enemiesFire, 250)
        // 技能冷却
        setInterval(() => {
          for (let i = 0; i < gameSetting.playerSkill.length; i++) {
            const skill = gameSetting.playerSkill[i]
            if (skill.nowCD > 0) {
              gameSetting.playerSkill[i].nowCD -= 100
            }
          }
        }, 100)
        // 快捷键绑定
        window.addEventListener('keypress', (event) => {
          const key = event.key.toLocaleUpperCase()
          if (key === 'A') {
            // 自动开火切换
            gameSetting.isPause.playerAutoFire = !gameSetting.isPause.playerAutoFire
          }
          // 绑定技能
          const skillIndex = gameSetting.playerSkill.findIndex(
            (skill) => key === skill.key
          )
          if (skillIndex >= 0) playerSkill(skillIndex)
        })
      })

      let isClickDown = false
      /** @function 点击事件 */
      const onMousedown = async () => {
        isClickDown = !isClickDown
      }

      /** @function 移动事件
       * @param {MouseEvent} e*/
      const onMousemove = async (e) => {
        // 未按下不处理
        if (!isClickDown) return
        const newX = e.offsetX - player.w / 2
        const newY = e.offsetY - player.h / 2
        if (newX <= 512) {
          player.x = newX
        }
        if (newY <= 768) {
          player.y = newY
        }
      }

      return {
        log,
        startGame,
        gameSetting,
        player,
        playerSkillLogo,
        mainFrameClass,
        enemyBulletCanvas,
        enemyCanvas,
        playerBulletCanvas,
        playerCanvas,
        mainCanvas,
        onMousedown,
        onMousemove,
      }
    },
  })
  app.mount('#app')
</script>
</body>
</html>
