* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  color-scheme: light only;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: contain;
}

body {
  background: url(./assets/bg_welcome.webp) no-repeat center;
  background-size: cover;
}

#app {
  backdrop-filter: blur(1em);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1em);
}
